
.icon-mail:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-disqus:before { content: '\e803'; } /* '' */
.icon-github-text:before { content: '\f307'; } /* '' */