body
{
background-color: palegreen;
color: darkgreen;
}
#containe
{width: 1000px;
background-color: lightpink}
#name
{
    float: left;
    background-color: lightgoldenrodyellow;
    color: darkgoldenrod;


}
#data 
{


}