body {
    background-color: rgb(119, 103, 32);
    color: rgb(43, 42, 42);
    font-family: 'Merriweather', serif;

}

#container {
    width: 500px;
    height: 450px;
    background-color: rgb(255, 153, 0);
    margin-top: 25px;
    margin-left: 50px;
    margin-bottom: 25px;
}

#name {
    width: 215px;
    height: 100px;
    background-color: rgb(240, 184, 116);
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 15px;
    float: left;
    font-size: 40px;
    text-align: center;
}

#quote {
    width: 215px;
    height: 100px;
    background-color: rgb(199, 158, 108);
    margin-top: 25px;
    margin-right: 25px;
    float: left;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    text-align: center;
}

#square {
    width: 215px;
    height: 215px;
    background-color: rgb(240, 188, 128); 
    margin-left: 25px;
    margin-top: 15px;
    margin-right: 8px;
    float: left;
    font-size: 14px;
    text-align: justify;
    padding: 5px;
}

.rect {
    width: 105px;
    height: 215px;
    margin-left: 8px;
    margin-top: 15px;
    background-color: rgb(145, 97, 9);
    float: left;
}

#tile1 {
    width: 100px;
    height: 100px;
    margin-top: 8px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: rgb(228, 172, 67);
}

#tile3 {
    width: 100px;
    height: 100px;
    margin-top: 8px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: rgb(190, 130, 16);
}

#tile2 {
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: rgb(231, 183, 95);
}

#tile4 {
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: rgb(230, 183, 97);
}

#footer {
    width: 450px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: peru;
    font-size: 15px;
    text-align: center;
    padding: 9px;
}

#tile1:hover {
   background-color: blanchedalmond; 
}

#tile2:hover {
    background-color: blanchedalmond; 
 }

 #tile3:hover {
    background-color: blanchedalmond; 
 }

 #tile4:hover {
    background-color: blanchedalmond; 
 }

 #name:hover {
    background-color: blanchedalmond; 
 }

a:link {
    color: darkslategray;
    text-decoration: none;

}

a:visited {
    color: rgb(50, 70, 70);
    text-decoration: none;

}
a:hover {
    color: rgb(20, 54, 54);
    text-decoration: none;

}

